*.sh text eol=lf
*.py text eol=lf
*.m text eol=lf
*.md text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.log text eol=lf
*.txt text eol=lf
*.ipynb text eol=lf

*.png binary
*.pdf binary
*.pth binary
*.pkl binary
